#whatsapp-icon {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  width: 60px; 
  height: 60px; 
  background-color: #25D366; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
}

#whatsapp-icon img {
  width: 60%; 
  height: 60%;
}

#whatsapp-icon:hover {
  transform: scale(1.1); 
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); 
}
